.section-title {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color-black);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-jpg-squoosh/Img-6-2.jpg);
    max-width: 1600px;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

.section-title__hero {
    color: var(--font-сolor-white);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: var(--letter-spacing-l);

    margin: 0 auto;
    padding: 0px 60px;

    @media screen and (min-width: 768px) {
        padding: 0px 204px;
        
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-height: 600px;
    }
}