:root {
    --background-button-main: #188CE8;
    --background-color-white: #FFFFFF;
    --background-color-black: #2F303A;
    --background-color-grey: #F5F4FA;
    --background-color-blue: #2196F3;
    --font-сolor-blue: #2196F3;
    --font-сolor-black-logo: #000000;
    --font-сolor-white: #FFFFFF;
    --font-сolor-black-p: #757575;
    --font-сolor-black-other: #212121;
    --font-color-border: #ECECEC;
    --font-color-footer-mail-tel: rgba(255, 255, 255, 0.6);
    --letter-spacing-s: 0.02em;
    --letter-spacing-m: 0.03em;
    --letter-spacing-l: 0.06em;
}